# Virtual env & IDE
.venv/
.vscode/
# IDE files
./idea/

# Logs & runtime
logs/

# Local 
PROD_successfactors_migration_to_ec_modules/
troubleshoot/

# Test outputs (generated)
test/test_outputs/
test/test_output/
test/test_outputs_v1.0/

# pycache
**/__pycache__/
**/*.pyc
